{% extends 'quiz/main_template.html' %}
{% block title %} Digi-Proctor {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style/allquiz.css' %}">

     <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'ProfHome' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Create</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'createQuiz' %}">Quiz</a></li>
                <li><a class="dropdown-item" href="{% url 'createQuestion' %}">Question</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'showQuiz' %}">Show</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
        </li>
    </ul>
  
{% for quiz in quizzes%}
    <div class="card quizcard" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ quiz.quizName }}</h5>
            <p class="card-text">Quiz ID: {{ quiz.quizID }}</p>
            <a href="{{ quiz.quizID }}" class="btn btn-primary">Responses for this Quiz</a>
        </div>
    </div>
{% endfor %}

{% endblock %}