#about {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    margin: 0px 0 20px 0;
    padding: 50px;
    font-size: larger;
}

.nav{
    background-color: teal;
    color: white;
}

.nav-link{
   color: white;
   /* text-decoration: royalblue; */
}

.nav-link:hover{
    color: yellow;
}



.nav-item{
   
   display: block;
   /* padding: 0.8em; */
width: 10em;
text-align: center;
   
}

  body { 
    padding-bottom: 50px;
    background-color: #198D8D;
  }


/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 25rem; /*layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	/* filter: blur(3px); blur the lowres image */
}






/* Layout Styles */
/* html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
} */

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden; 
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-image {
	display: block;
	padding: 6em 1em;
    text-align: left;
	color: #515151;
	text-decoration: none;
}

.card-image > h3 {
	margin: 0 0 0.5em;
    font-size: 15px;
}
